.cardsSectionSection {
  padding: 58px 0 4px;
  text-align: center;
}

.cardsSectionSection > div  {
  max-width: 917px;
}

.cardsSection {
  margin-left: -26px;
}

.cardsSectionSubtitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: center;
  color: #174891;
}

.cardsSectionTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: center;
  color: #174891;
  margin-top: 6px;
}

.cards {
  display: flex;
  padding-top: 14px;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.card {
  background: linear-gradient(98.04deg, rgba(79, 76, 223, 0.03) -6.1%, rgba(26, 167, 246, 0.03) 101.03%);
  width: 100%;
  border-radius: 16px;
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  border: 1px solid #f3f3f3;
  position: relative;
}

.cardImageLeft {
  flex-direction: row;
}

.image {
  width: 50%;
  object-fit: cover;
  border-radius: 16px;
  max-height: 280px;
}

.cardItemContent {
  padding: 51px 34px 30px 44px;
  width: 50%;
  position: relative;
}

.card:nth-child(even) .cardItemContent {
  padding: 51px 44px 30px 0px;
}

.cardItemTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: left;
  margin-top: 0;
}

.cardItemParagraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #383838;
}

.cardItemButton {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  border: unset;
  color: #fff;
  cursor: pointer;
  margin-top: 28px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardItemButton:hover {
  opacity: 0.9;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background: linear-gradient(270deg, rgba(249, 251, 254, 0) 0%, #F9FBFE 87.97%);
  border-radius: 0 16px 16px 0;
  z-index: 1;
  pointer-events: none;
}

.cardItemContent {
  z-index: 2;
}

.cardImageLeft::before {
  left: 0;
  right: 50%;
  border-radius: 16px 0 0 16px;
  background: linear-gradient(90deg, rgba(249, 251, 254, 0) 0%, #F9FBFE 87.97%);
}