.panelProfilPage > div {
  padding: 30px 0;
}

.panelProfilSection {
  max-width: 300px;
  margin: 0 auto;
  padding: 30px 0;
}

.panelProfilSectionTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #383838;
}

  .header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
.panelProfilLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left; 
  display: block;
  padding-bottom: 6px; 
}
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    background-color: blue;
    color: #fff;
    outline: unset;
    border: unset;
    padding: 9px 9px;
  }
  
  .button:hover {
    background-color: #004494;
  }
  