.menu {
  color: white;
  padding: 34px 0;
  position: absolute;
  z-index: 9;
  width: 100%;
}

.menu.undefined {
  background-color: #174891;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 7px 0 24px;
}

.logoMenuWrapper {
  display: flex;
  align-items: center;
  gap: 41px;
}

.logoMenuWrapper a {
  display: flex;
}

.logo {
  height: 50px;
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  position: relative;
}

.navLinks a {
  color: white;
  padding: 12px 14px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: .2s;
  display: flex;
  align-items: center;
}

.navLinks a:hover {
  border: 1px solid #fff;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.joinButton {
  background-color: white;
  border: 1px solid #FFFFFF80;
  border-radius: 8px;
  padding: 11px 20px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: .4s;
  text-decoration: none;
  color: #174891;
}

.joinButton:hover {
  background: linear-gradient(97deg, #0C3776 1.84%, #174891 100%);
  box-shadow: 0px 2px 8px 0px #00000014;
  color: #FFFFFF;
}

.loginLink {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.loginLink:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
}

.dropdown.active {
  width: 160px;
  height: 130px;
  border: 1px solid;
  padding-top: 10px;
  border-radius: 12px;
}

.dropdownContent {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s;
  position: absolute;
  min-width: 160px;
  top: 31px;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  /* border: 1px solid white; */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdownContent li {
  padding: 0.5rem 1rem;
}

.dropdownContent li a {
  color: white;
}

.dropdownLinkIcon {
  vertical-align: middle;
  margin-left: 6px;
  font-size: 13px;
}

.dropdownContent li a:hover {
  border: unset;
}

.dropdown:hover .dropdownContent {
  visibility: visible;
  opacity: 1;
}

.dropdown:hover > a {
  /* border: 1px solid white;
  border-radius: 5px; */
  border: unset;
}
.dropdown a:hover {
  border: unset;
}

.dropdownContent li a:hover {
  border: none;
}

.dropdown:hover a .dropdownContent {
  border: unset;
}

.secondaryButton {
  color: #fff;
}

.primaryButton {
  background-color: white;
  border: 1px solid #FFFFFF80;
  border-radius: 8px;
  padding: 11px 20px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: .4s;
  text-decoration: none;
  color: #174891;
}